@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.outline-heading {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.text-outlie-stripe {
  color: transparent;
  -webkit-text-stroke: 0.89px black;
}

.outline-heading-blue {
  color: transparent;
  -webkit-text-stroke: 0.37px #3a4b5b;
}

.outline-heading-brown-big {
  color: transparent;
  -webkit-text-stroke: 0.86px #81796e;
}

/* For screens 764px and up */
@media (min-width: 764px) {
  .outline-heading-brown-big {
    -webkit-text-stroke: 1.06px #81796e;
  }
  .outline-heading-blue {
    -webkit-text-stroke: 0.64px #3a4b5b;
  }
  .text-outlie-stripe {
    -webkit-text-stroke: 1.29px black;
  }
}

/* For screens 1440px and up */
@media (min-width: 1440px) {
  .outline-heading-brown-big {
    -webkit-text-stroke: 2px #81796e;
  }
  .outline-heading-blue {
    color: transparent;
    -webkit-text-stroke: 1.2px #3a4b5b;
  }
  .text-outlie-stripe {
    -webkit-text-stroke: 2px black;
  }
}
.outline-heading-instructor {
  color: transparent;
  -webkit-text-stroke: 2.5px #ffffff;
}

.spin {
  animation: spin 10s linear infinite;
}
.jiggle {
  /* No animation applied by default */
}
.jiggle:hover {
  animation: jiggle 2s linear infinite;
}

.scroll {
  animation: scroll 450s linear infinite;
}

@keyframes spin {
  0% {
    transform-origin: 53% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jiggle {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(10px) translateY(-10px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 600px) {
  .herobgpos {
    background-position: 90% 0;
  }
}

/* radio buttons */
.checker {
  width: 25.45px;
  height: 25.45px;
  /* min-width: 25.45px;
  min-height: 25.45px; */
  border-radius: 50%;
  background: white;
  border: 2.83px solid #3a4b5b;
}

.dot {
  width: 11.31px;
  /* min-width: 11.31px;
  min-height: 11.31px; */
  height: 11.31px;
  background-color: #3a4b5b;
  border-radius: 50%;
}

@media (min-width: 764px) {
  .checker {
    width: 13.77px;
    /* min-height: 13.77px; */
    height: 13.77px;
    /* min-height: 13.77px; */

    border: 1.53px solid #3a4b5b;
  }
  .dot {
    width: 6.12px;
    /* min-width: 6.12px;
    min-height: 6.12px; */
    height: 6.12px;
  }
}

@media (min-width: 390px) {
  .checker {
    width: 22.36px;
    height: 22.36px;
    /* min-width: 22.36px;
    min-height: 22.36px; */

    border: 2.48px solid #3a4b5b;
  }
  .dot {
    width: 9.94px;
    height: 9.94px;
    /* min-width: 9.94px;
    min-height: 9.94px; */
  }
}

@media (min-width: 320px) {
  .checker {
    width: 15.36px;
    height: 15.36px;
    /* min-width: 15.36px;
    min-height: 15.36px; */

    border: 2.48px solid #3a4b5b;
  }
  .dot {
    width: 8.14px;
    height: 8.14px;
    /* min-width: 8.14px;
    min-height: 8.14px; */
  }
}
